/* 

transition-property: property name
transition-duration: 1s || 1000ms 
transition-timing-function: keyword steps-function or timing-function
transition-delay: 1s || 1000ms

shorthand ->
transition: property-name duration timing-function delay;

property-name and duration are required


multiple transitions on a single element:
transition: property-name time, property-name time, property-name time, etc.
*/

.together {
    width: 200px;
    height: 35px;
    background-color: red;
    transition-property: transform;
    transition-duration: 1.25s;
    transition-timing-function: cubic-bezier(1, .34, 0, 1.4);
    transition: height 1s cubic-bezier(1, .34, 0, 1.4) 1s, transform 1s, background-color 2s;
}

.together-container:hover .together{
    background-color: green;
    transform: translate(500px);
    height: 50vh;
}