.wrapper {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.inner {
    width: 200px;
    height: 200px;
    border: 1px dashed red;
    /* degrees */
    transform: rotate(5deg);
    /* gradians */
    transform: rotate(5grad);
    /* radians */
    transform: rotate(.5rad);
    /* turn */
    transform: rotate(.37turn)
}